*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 47px auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    background-color: lightpink;
    border-radius: 30px;
    row-gap: 20px;
    padding: 35px 25%;
}

#accepted {
    color: green;
    display: none;
}

#not-accepted {
    color: red;
    display: none;
}



